@media only screen and (max-width: 600px) {
    .itemoncart-container{
    display: flex;
    flex-direction: column;
        min-height: 200px;
    width: 300px;
    border: solid 1px rgb(180, 41, 41);
    justify-content: space-around;
    align-items: center;
    
}
}




.itemoncart-container{
    display: flex;
    height: 100px;
    width: 90vw;
    border: solid 1px grey;
    justify-content: space-around;
    align-items: center;
    padding: 5px
}
.eliminar-btn{
    display:flex;
    height: 30px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border: solid 1px grey;
    cursor:pointer;

}
.imgoncart-container{
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
.total-container{
    display: flex;
    width: 90vw;
    justify-content: right;
}
.btncart-container{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
 
   
}
.finalizarcompra-btn{
    display:flex;
    height: 30px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border: solid 1px grey;
    cursor:pointer;
}
.vaciar-btn{
    display:flex;
    height: 30px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border: solid 1px grey;
    cursor:pointer;
}
.msg-container{
    display: flex;
    height: 80vh;
    width: 98vw;
    justify-content: center;
    align-items: center;
}