@media only screen and (max-width: 600px) {
    .checkout-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(245, 245, 245);
        min-height: 90vh;
    
    }
}

.checkout-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245, 245);
    min-height: 90vh;

}
.resumendecompra-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    
}
.itemoncheckout-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 300px;   
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    border-bottom: solid 1px grey;

}
.form-container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    border: solid 1px grey;
    border-radius: 5px;
    height: 80vh;
    background-color: rgb(66, 66, 66);
    padding: 15px;
    box-shadow: 11px 18px 5px -1px rgba(133,133,133,0.43);
    -webkit-box-shadow: 11px 18px 5px -1px rgba(133,133,133,0.43);
    -moz-box-shadow: 11px 18px 5px -1px rgba(133,133,133,0.43);
   

}
.completar-title{
    display: flex;
    text-align: center;
    justify-content: center;
    color:aliceblue;
    padding: 3px;
}
.textform{
    color:rgb(222, 222, 222);
}
.input{
    display: flex;
    border: solid 1px rgb(144, 197, 220);
    text-decoration: none;
    border-radius: 3px;
    height: 30px;
}
.comprar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    margin-top: 20px;
}
.comprar-btn:hover{
    color: rgb(72, 72, 72);
    background-color: rgb(255, 255, 255);
    height: 31px;
    width: 201px;
    border: white ;
}
