@media only screen and (max-width: 600px) {
    .detail-container{
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 90vw;
    }
    .img-container{
        display: flex;
        min-width: 50%;
        height: 50%;
    }
    .data-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
      
        align-items: center;
    
    }

}

.detail-container{
    display: flex;
    height: 90vh;
    width: 90vw;
}
.img-container{
    display: flex;
    min-width: 50%;
    height: 100%;
}
.data-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
  
    align-items: center;

}
.finalizarcompra-btn{
    display: flex;
    height: 30px;
    width: 150px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-color: rgb(185, 185, 185);
    border-radius: 3px;
}
