.itemcount-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: solid 1px blue;
    border-radius: 10px;
    justify-content: flex-end;
    align-items: center;
    color: black;
}

.btns-container{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 30px;
   
}
.btn-container{
    width: 30px;
    height: 30px;
    border-color: rgb(122, 122, 255);
    border-radius: 5px;
}
.btn-addtocart{
    height: 30px;
    width: 150px;
    border-color: rgb(122, 122, 255);
    border-radius: 5px;
}