.navbar-container{
    max-width: 100vw;
    height: 50px;
    background-color: rgb(176, 176, 176);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1%;
  }
  .brand-container{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-weight: 800;
  }
  .brand-container:hover{
    color:wheat;
    transform: scale(1.05);
  }
  .menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: fit-content;
  }
  .menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-weight: 300;
    cursor: pointer;
  }
  .menu-btn:hover{
    color: wheat;
  }
  
  